<!--<div class="header">-->
<!--  <div class="header-content">-->
<!--    <div class="header-content__title">Создание</div>-->
<!--    <div class="header-content__subtitle">и упаковка франшиз</div>-->
<!--    <div class="header-content__text">с бесплатным размещением в каталоге</div>-->
<!--    <button class="header-content__button">Бесплатная консультация</button>-->
<!--  </div>-->
<!--  <div class="header-image">-->

<!--    &lt;!&ndash;      src="./../src/assets/images/franchise-landing/desk.png"&ndash;&gt;-->
<!--    <img-->
<!--      class="header-image__deck"-->

<!--    src="../../../../assets/images/franchise-landing/desk.png"-->

<!--      alt="Изображение стола, монеты и %"-->
<!--    />-->
<!--  </div>-->

<!--  <div class="header-image1">-->
<!--    <img-->
<!--      src="/src/assets/images/franchise-landing/desk1.png"-->
<!--      alt="Изображение стола, монеты и %"-->
<!--    />-->
<!--  </div>-->
<!--  <div class="header-image2">-->
<!--    <img-->
<!--      src="/src/assets/images/franchise-landing/desk2.png"-->
<!--      alt="Изображение стола, монеты и %"-->
<!--    />-->
<!--  </div>-->
<!--</div>-->

<app-landing-header-card [cardData]="headerCardsData" (cardEvent)="landingHeaderCard($event)"></app-landing-header-card>

<!--начало комментирования-->
<!--<div class="statistics">-->
<!--  <div class="statistics-item">-->
<!--    <p class="statistics-item__number">80</p>-->
<!--    <p class="statistics-item__text">-->
<!--      франшиз <br/>-->
<!--      упаковали <br/>-->
<!--      и создали с нуля-->
<!--    </p>-->
<!--  </div>-->
<!--  <div class="statistics-item">-->
<!--    <p class="statistics-item__number">25</p>-->
<!--    <p class="statistics-item__text">-->
<!--      сфер бизнеса <br/>-->
<!--      проработано <br/>-->
<!--      за время работы-->
<!--    </p>-->
<!--  </div>-->
<!--  <div class="statistics-item">-->
<!--    <p class="statistics-item__number">-->
<!--      60 <span class="statistics-item__unit">млн</span>-->
<!--    </p>-->
<!--    <p class="statistics-item__text">-->
<!--      заработали <br/>-->
<!--      клиентам после <br/>-->
<!--      создания франшиз-->
<!--    </p>-->
<!--  </div>-->
<!--  <div class="statistics-item">-->
<!--    <p class="statistics-item__number">14</p>-->
<!--    <p class="statistics-item__text">-->
<!--      человек будут <br/>-->
<!--      работать над вашим <br/>-->
<!--      проектом-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; блок с каруселью &ndash;&gt;-->
<!--<div>-->
<!--  <app-promo-block-card></app-promo-block-card>-->
<!--</div>-->

<!--&lt;!&ndash; TODO: а вот тут как раз надо передать цвет, т.к. по дефолту установлен голубой.   &ndash;&gt;-->

<!--<app-landing-consultation-card [cardConsultationData]="consultationCardsData"-->
<!--                               [backgroundColorVariant]="backgroundColorVariant.black"-->
<!--                               (cardConsultationEvent)="landingConsultationCard($event)"></app-landing-consultation-card>-->
<!--&lt;!&ndash;<div class="founder">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="founder-content">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="founder-content__title">Азамат Булатов</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="founder-content__subtitle">сооснователь проекта</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="founder-content__text">&ndash;&gt;-->
<!--&lt;!&ndash;      Лично ответственный за каждую упакованную франшизу&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="founder-content__inputs">&ndash;&gt;-->
<!--&lt;!&ndash;      <label class="founder-content__label"&ndash;&gt;-->
<!--&lt;!&ndash;      >Имя&ndash;&gt;-->
<!--&lt;!&ndash;        <input&ndash;&gt;-->
<!--&lt;!&ndash;          class="founder-content__input"&ndash;&gt;-->
<!--&lt;!&ndash;          type="text"&ndash;&gt;-->
<!--&lt;!&ndash;          name="name"&ndash;&gt;-->
<!--&lt;!&ndash;          placeholder="Введите имя"&ndash;&gt;-->
<!--&lt;!&ndash;          [(ngModel)]="name"&ndash;&gt;-->
<!--&lt;!&ndash;        />&ndash;&gt;-->
<!--&lt;!&ndash;      </label>&ndash;&gt;-->

<!--&lt;!&ndash;      &lt;!&ndash; <div class="founder-content__input"> &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;      <label class="founder-content__label"&ndash;&gt;-->
<!--&lt;!&ndash;      >Номер телефона&ndash;&gt;-->
<!--&lt;!&ndash;        <p-inputMask&ndash;&gt;-->
<!--&lt;!&ndash;          mask="+7(999) 999-99-99"&ndash;&gt;-->
<!--&lt;!&ndash;          [(ngModel)]="phoneNumber"&ndash;&gt;-->
<!--&lt;!&ndash;          placeholder="Введите номер телефона"&ndash;&gt;-->
<!--&lt;!&ndash;        ></p-inputMask>&ndash;&gt;-->
<!--&lt;!&ndash;      </label>&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash; </div> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <button&ndash;&gt;-->
<!--&lt;!&ndash;      class="founder-content__button"&ndash;&gt;-->
<!--&lt;!&ndash;      (click)="onSendLandingRequestAsync(name, phoneNumber)"&ndash;&gt;-->
<!--&lt;!&ndash;    >&ndash;&gt;-->
<!--&lt;!&ndash;      Обратиться за консультацией&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash; <div class="founder-image"> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <img&ndash;&gt;-->
<!--&lt;!&ndash;    class="founder-image__azamat"&ndash;&gt;-->
<!--&lt;!&ndash;    src="/src/assets/images/franchise-landing/azamat.png"&ndash;&gt;-->
<!--&lt;!&ndash;    alt=""&ndash;&gt;-->
<!--&lt;!&ndash;  />&ndash;&gt;-->
<!--&lt;!&ndash;  <img&ndash;&gt;-->
<!--&lt;!&ndash;    class="founder-image__azamat1"&ndash;&gt;-->
<!--&lt;!&ndash;    src="../../../../assets/images/franchise-landing/template_person6%201.png"&ndash;&gt;-->
<!--&lt;!&ndash;    alt="Фото сооснователя"&ndash;&gt;-->
<!--&lt;!&ndash;  />&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash; </div> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<h5 class="bonuses-header">Бонусы от GoBizy</h5>-->
<!--<div class="bonuses">-->
<!--  <div class="bonuses-item">-->
<!--    <div class="bonuses-item__image">-->
<!--      <img-->
<!--        src="../../../../assets/images/franchise-landing/loupe-clip-art-6%201.png"-->
<!--        alt="Лупа"-->
<!--      />-->
<!--    </div>-->
<!--    <p class="bonuses-item__title">Бесплатное размещение в каталоге</p>-->
<!--    <p class="bonuses-item__subtitle">-->
<!--      на срок от 3 до 12 месяцев.<br/>-->
<!--      срок размещения зависит от выбранного пакета-->
<!--    </p>-->
<!--    <h3>Шаг 1</h3>-->
<!--    <p class="bonuses-item__text">-->
<!--      После покупки любого из пакетов вы получите бесплатное размещине в-->
<!--      сервисе.-->
<!--    </p>-->
<!--    <button class="bonuses-item__button">Упаковать франшизу</button>-->
<!--  </div>-->
<!--  <div class="bonuses-item">-->
<!--    <div class="bonuses-item__image">-->
<!--      <img-->
<!--        src="../../../../assets/images/franchise-landing/pen-clip-art-6%202.png"-->
<!--        alt="Ручка"-->
<!--      />-->
<!--    </div>-->
<!--    <p class="bonuses-item__title">Книга продаж и обучение вашего менеджера</p>-->
<!--    <p class="bonuses-item__subtitle">-->
<!--      в любом выбранном пакете, вне зависмости от стоимости-->
<!--    </p>-->
<!--    <h3>Шаг 2</h3>-->
<!--    <p class="bonuses-item__text">-->
<!--      Помощь с обучением вашего менеджера, составление книги продаж-->
<!--    </p>-->
<!--    <button class="bonuses-item__button">Обучить менеджера</button>-->
<!--  </div>-->
<!--  <div class="bonuses-item">-->
<!--    <div class="bonuses-item__image">-->
<!--      <img-->
<!--        src="../../../../assets/images/franchise-landing/file-clip-art-6%203.png"-->
<!--        alt="Папка"-->
<!--      />-->
<!--    </div>-->
<!--    <p class="bonuses-item__title">Проверка товарного знака</p>-->
<!--    <p class="bonuses-item__subtitle">-->
<!--      полная и оперативная проверка товарного знака-->
<!--    </p>-->
<!--    <h3>Шаг 3</h3>-->
<!--    <p class="bonuses-item__text">-->
<!--      Бесплатная и быстрая проверка товарного знака франшизы-->
<!--    </p>-->
<!--    <button class="bonuses-item__button">Проверить товарный знак</button>-->
<!--  </div>-->
<!--  <div class="bonuses-item">-->
<!--    <div class="bonuses-item__image">-->
<!--      <img-->
<!--        src="../../../../assets/images/franchise-landing/credit_card_PNG24%201.png"-->
<!--        alt="Кредитная карточка"-->
<!--      />-->
<!--    </div>-->
<!--    <p class="bonuses-item__title">Функция управляющей компании</p>-->
<!--    <p class="bonuses-item__subtitle">-->
<!--      Отдельный пакет по упаковке с полным делигированием-->
<!--    </p>-->
<!--    <h4>Шаг 4</h4>-->
<!--    <p class="bonuses-item__text">-->
<!--      Все функции по продаже и открытию франшиз мы возьмем на себя-->
<!--    </p>-->
<!--    <button class="bonuses-item__button">Нанять УК</button>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Область с 3 карточками. &ndash;&gt;-->

<!--<section class="section">-->
<!--  <div class="gar-card promo">-->
<!--    <div class="gar-row title item">-->
<!--      Вы можете приобрести бизнес с гарантиями-->
<!--    </div>-->
<!--    <div class="gar-row secondary">-->
<!--      Вам больше не нужно покупать бизнес онлайн! Все тренды сводятся к покупке-->
<!--      бизнеса и управлению им из дома. Предлагаем получить консультацию по-->
<!--      покупке бизнеса онлайн.-->
<!--    </div>-->
<!--    <div class="gar-row">-->
<!--      <gar-button role="primary">Получить консультацию</gar-button>-->
<!--      <gar-button role="secondary">Позднее</gar-button>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<h5 class="packs-header">Пакеты на создание франшиз упаковки</h5>-->
<!--<div class="packs">-->
<!--  <div class="packs-item">-->
<!--    <div class="packs-item__image">-->
<!--      <img-->
<!--        class="packs-item__image&#45;&#45;pack"-->
<!--        src="../../../../assets/images/franchise-landing/fast-start%201.png"-->
<!--        alt="Пакет из 7 инструментов"-->
<!--      />-->
<!--    </div>-->
<!--    <button class="packs-item__title">Пакет “Быстрый старт”</button>-->
<!--    <div class="packs-item__text">-->
<!--      Если у Вас за порогом стоит потенциальный покупатель или Вы хотите просто-->
<!--      протестировать нишу, то этот пакет именно для Вас!-->
<!--    </div>-->
<!--    <ul class="packs-item__list">-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Аудит бизнеса и анализ конкурентов</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка состава франшизы: определение стоимости франшизы, создание-->
<!--          уникального предложения и концепции франшизы</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка пакетов франшизы и определение их стоимости</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Создание финансовой модели франшизы (инвестиции в запуск, доходность-->
<!--          и окупаемость)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка договора коммерческой концессии/лицензионный договор</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Презентация франшизы (маркетинг кит)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка сайта для продажи франшизы (до 10 страниц)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Книга продаж Вашей франшизы</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Обучение и аттестация Вашего менеджера по продажам</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Внедрение CRM системы для аналитики продаж франшизы</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка фирменного стиля компании</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Руководство по запуску франшизы (франчбук)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка стратегии: «Каналы продаж франшизы»</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Настройка рекламной кампании, для запуска продаж Вашей франшизы либо-->
<!--          размещение в ТОП-овом каталоге франшиз;</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Внедрение системы записи звонков</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Контроль качества звонков менеджера, нашим руководителем отдела-->
<!--          продаж</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Совместная обработка звонков и возникающих вопросов у клиента</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Настройка CRM-системы</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/NO.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Гарантированное сопровождение и доведение до первых продаж-->
<!--          франшизы;</span-->
<!--        >-->
<!--      </li>-->
<!--    </ul>-->
<!--    <div class="packs-item-bottom">-->
<!--      <p class="packs-item-bottom__title">-->
<!--        <span><b>Срок</b></span> <span>20 дней</span>-->
<!--      </p>-->

<!--      <p class="packs-item-bottom__text"><b>Бесплатный бонус</b></p>-->
<!--      <p class="packs-item-bottom__text1">обучение вашего менеджера</p>-->
<!--      <p class="packs-item-bottom__price">-->
<!--        <b>Стоимость пакета</b><span>350 000 ₽</span>-->
<!--      </p>-->
<!--      <button class="packs-item-bottom__button">Упаковать франшизу</button>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="packs-item">-->
<!--    <div class="packs-item__image">-->
<!--      <img-->
<!--        class="packs-item__image&#45;&#45;pack"-->
<!--        src="../../../../assets/images/franchise-landing/fast-start%202.png"-->
<!--        alt="Пакет из 15 инструментов"-->
<!--      />-->
<!--    </div>-->
<!--    <button class="packs-item__title">Пакет “Франшиза под ключ”</button>-->
<!--    <div class="packs-item__text">-->
<!--      Этот пакет для Вас, если Вам нужен полный комплекс услуг необходимых для-->
<!--      продажи франшизы и запуска Вашего франчайзи.-->
<!--    </div>-->
<!--    <ul class="packs-item__list">-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Аудит бизнеса и анализ конкурентов</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка состава франшизы: определение стоимости франшизы, создание-->
<!--          уникального предложения и концепции франшизы</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка пакетов франшизы и определение их стоимости</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Создание финансовой модели франшизы (инвестиции в запуск, доходность-->
<!--          и окупаемость)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка договора коммерческой концессии/лицензионный договор</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Презентация франшизы (маркетинг кит)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка сайта для продажи франшизы (до 10 страниц)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Книга продаж Вашей франшизы</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Обучение и аттестация Вашего менеджера по продажам</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Внедрение CRM системы для аналитики продаж франшизы</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка фирменного стиля компании</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Руководство по запуску франшизы (франчбук)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка стратегии: «Каналы продаж франшизы»</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Настройка рекламной кампании, для запуска продаж Вашей франшизы либо-->
<!--          размещение в ТОП-овом каталоге франшиз;</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Внедрение системы записи звонков</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Контроль качества звонков менеджера, нашим руководителем отдела-->
<!--          продаж</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->

<!--        <span class="packs-item__tool"-->
<!--        >Совместная обработка звонков и возникающих вопросов у клиента</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Настройка CRM-системы</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__no">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Гарантированное сопровождение и доведение до первых продаж-->
<!--          франшизы;</span-->
<!--        >-->
<!--      </li>-->
<!--    </ul>-->
<!--    <div class="packs-item-bottom">-->
<!--      <p class="packs-item-bottom__title">-->
<!--        <span><b>Срок</b></span> <span>30 дней</span>-->
<!--      </p>-->
<!--      <p class="packs-item-bottom__text"><b>Бесплатный бонус</b></p>-->
<!--      <p class="packs-item-bottom__text1">обучение вашего менеджера</p>-->
<!--      <p class="packs-item-bottom__price">-->
<!--        <b>Стоимость пакета</b> <span>480 000 ₽</span>-->
<!--      </p>-->
<!--      <button class="packs-item-bottom__button">Упаковать франшизу</button>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="packs-item">-->
<!--    <div class="packs-item__image">-->
<!--      <img-->
<!--        class="packs-item__image&#45;&#45;pack"-->
<!--        src="../../../../assets/images/franchise-landing/fast-start%203.png"-->
<!--        alt="Пакет из 25 инструментов"-->
<!--      />-->
<!--    </div>-->
<!--    <button class="packs-item__title">Пакет “Доведение до продаж”</button>-->
<!--    <div class="packs-item__text">-->
<!--      В рамках пакета быстрый старт вы получаете полностью упакованный бизнес во-->
<!--      франшизу + обученного менеджера..-->
<!--    </div>-->
<!--    <ul class="packs-item__list">-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Аудит бизнеса и анализ конкурентов</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка состава франшизы: определение стоимости франшизы, создание-->
<!--          уникального предложения и концепции франшизы</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка пакетов франшизы и определение их стоимости</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Создание финансовой модели франшизы (инвестиции в запуск, доходность-->
<!--          и окупаемость)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка договора коммерческой концессии/лицензионный договор</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Презентация франшизы (маркетинг кит)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка сайта для продажи франшизы (до 10 страниц)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Книга продаж Вашей франшизы</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Обучение и аттестация Вашего менеджера по продажам</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Внедрение CRM системы для аналитики продаж франшизы</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка фирменного стиля компании</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Руководство по запуску франшизы (франчбук)</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Разработка стратегии: «Каналы продаж франшизы»</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Настройка рекламной кампании, для запуска продаж Вашей франшизы либо-->
<!--          размещение в ТОП-овом каталоге франшиз;</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Внедрение системы записи звонков</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Контроль качества звонков менеджера, нашим руководителем отдела-->
<!--          продаж</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Совместная обработка звонков и возникающих вопросов у клиента</span-->
<!--        >-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool">Настройка CRM-системы</span>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="packs-item__yes">-->
<!--          <img-->
<!--            src="../../../../assets/images/franchise-landing/YES.png"-->
<!--            alt=""-->
<!--          />-->
<!--        </div>-->
<!--        <span class="packs-item__tool"-->
<!--        >Гарантированное сопровождение и доведение до первых продаж-->
<!--          франшизы;</span-->
<!--        >-->
<!--      </li>-->
<!--    </ul>-->
<!--    <div class="packs-item-bottom">-->
<!--      <p class="packs-item-bottom__title">-->
<!--        <span><b>Срок</b></span-->
<!--        ><span>35 дней</span>-->
<!--      </p>-->
<!--      <p class="packs-item-bottom__text"><b>Бесплатный бонус</b></p>-->

<!--      <p class="packs-item-bottom__text1">обучение вашего менеджера</p>-->

<!--      <p class="packs-item-bottom__price">-->
<!--        <b>Стоимость пакета</b> <span class="bottom__price-span">750000 ₽</span>-->
<!--      </p>-->
<!--      <button class="packs-item-bottom__button">Упаковать франшизу</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<app-landing-consultation-card [cardConsultationData]="consultationCardsData2"-->
<!--                               [backgroundColorVariant]="backgroundColorVariant.black"-->
<!--                               (cardConsultationEvent)="landingConsultationCard($event)"></app-landing-consultation-card>-->


<!--&lt;!&ndash;<div class="special">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="special-content">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="special-content__title">Управляющая компания</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="special-content__subtitle">Особый пакет</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="special-content__text">&ndash;&gt;-->
<!--&lt;!&ndash;      Условия обсуждаются индвидуально.&ndash;&gt;-->
<!--&lt;!&ndash;      <span>От 1 500 000 ₽</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="special-content__inputs">&ndash;&gt;-->
<!--&lt;!&ndash;      <label class="special-content__label"&ndash;&gt;-->
<!--&lt;!&ndash;      >Имя&ndash;&gt;-->
<!--&lt;!&ndash;        <input&ndash;&gt;-->
<!--&lt;!&ndash;          class="special-content__input"&ndash;&gt;-->
<!--&lt;!&ndash;          type="text"&ndash;&gt;-->
<!--&lt;!&ndash;          name="name"&ndash;&gt;-->
<!--&lt;!&ndash;          placeholder="Введите имя"&ndash;&gt;-->
<!--&lt;!&ndash;        />&ndash;&gt;-->
<!--&lt;!&ndash;      </label>&ndash;&gt;-->
<!--&lt;!&ndash;      <label class="special-content__label"&ndash;&gt;-->
<!--&lt;!&ndash;      >Номер телефона&ndash;&gt;-->
<!--&lt;!&ndash;        <input&ndash;&gt;-->
<!--&lt;!&ndash;          class="special-content__input"&ndash;&gt;-->
<!--&lt;!&ndash;          type="tel"&ndash;&gt;-->
<!--&lt;!&ndash;          name="telephone"&ndash;&gt;-->
<!--&lt;!&ndash;          placeholder="Введите номер телефона"&ndash;&gt;-->
<!--&lt;!&ndash;        />&ndash;&gt;-->
<!--&lt;!&ndash;      </label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <button class="special-content__button">Обратиться за консультацией</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash; <div class="special-image"> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <img&ndash;&gt;-->
<!--&lt;!&ndash;    class="special-image__photo2"&ndash;&gt;-->
<!--&lt;!&ndash;    src="../../../../assets/images/franchise-landing/Layer_7_1%201.png"&ndash;&gt;-->
<!--&lt;!&ndash;    alt="Фото управляющего"&ndash;&gt;-->
<!--&lt;!&ndash;  />&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash; </div> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash; Популярный бизнес. &ndash;&gt;-->
<!--&lt;!&ndash; <h5 class="garant title-franchise">Популярныe франшизы</h5>-->
<!--<div class="d-flex popular-list">-->
<!--  <div class="popular-item" *ngFor="let item of aPopularBusiness">-->
<!--    <p-card-->
<!--      header="{{ item.businessName }}"-->
<!--      subheader="{{ item.text }}"-->
<!--      [style]="{ width: '100%' }"-->
<!--      styleClass="p-card-shadow"-->
<!--    >-->
<!--      <ng-template pTemplate="header">-->
<!--        <img [src]="item.url" />-->
<!--      </ng-template>-->
<!--      <strong>{{ item.textDoPrice }} {{ item.price }} ₽</strong>-->
<!--      <ng-template pTemplate="footer"> </ng-template>-->
<!--    </p-card>-->
<!--  </div>-->
<!--</div> &ndash;&gt;-->

<!--&lt;!&ndash; Популярные франшизы. &ndash;&gt;-->
<!--<div class="row section-mb">-->
<!--  <div class="gar-row title">Популярные франшизы</div>-->
<!--  <gar-carousel-->
<!--    [items]="aPopularFranchises$ | async"-->
<!--    [template]="cardComponent"-->
<!--  ></gar-carousel>-->
<!--</div>-->

<!--&lt;!&ndash; Новый бизнес. &ndash;&gt;-->

<!--&lt;!&ndash; Бизнес блог. &ndash;&gt;-->
<!--<h5 class="garant title-franchise">Бизнес блог</h5>-->
<!--<div class="d-flex popular-list-blog">-->
<!--  <div class="popular-item-blog" *ngFor="let item of aBlogs">-->
<!--    <p-card-->
<!--      class="popular-item-blog-wrapper1"-->
<!--      header="{{ item.title }}"-->
<!--      subheader=""-->
<!--      [style]="{ width: '100%' }"-->
<!--      styleClass="p-card-shadow"-->
<!--    >-->
<!--      <ng-template pTemplate="header">-->
<!--        <img [src]="item.url"/>-->
<!--      </ng-template>-->

<!--      <ng-template pTemplate="footer"></ng-template>-->
<!--    </p-card>-->
<!--  </div>-->

<!--  <div class="popular-item-blog">-->
<!--    <p-card-->
<!--      class="popular-item-blog-wrapper2"-->
<!--      header="Больше статей"-->
<!--      subheader=""-->
<!--      [style]="{ width: '100%' }"-->
<!--      styleClass="p-card-shadow"-->
<!--    >-->
<!--      <ng-template pTemplate="header"></ng-template>-->

<!--      <div class="d-flex">-->
<!--        <p>-->
<!--          Перейдите в наш блог и найдите <br/>-->
<!--          там массу полезной информации.-->
<!--        </p>-->
<!--        <div class="image">-->
<!--          <img src="../../../../assets/images/Frame%2066.png" height="32"/>-->
<!--        </div>-->
<!--      </div>-->
<!--      <ng-template pTemplate="footer"></ng-template>-->
<!--    </p-card>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Новости делового мира. &ndash;&gt;-->
<!--<section class="section">-->
<!--  &lt;!&ndash;  <app-news-block></app-news-block>&ndash;&gt;-->
<!--  <app-news-block></app-news-block>-->
<!--</section>-->

<!--&lt;!&ndash; <div class="row section-mb">-->
<!--  <div class="gar-row title">Популярные франшизы</div>-->
<!--  <gar-carousel-->
<!--    [items]="aPopularFranchises$ | async"-->
<!--    [template]="cardComponent"-->
<!--  ></gar-carousel>-->
<!--</div> &ndash;&gt;-->

<!--&lt;!&ndash; Категории готового бизнеса. &ndash;&gt;-->
<!--<div class="row garant">-->
<!--  &lt;!&ndash; <div class="d-flex"> &ndash;&gt;-->
<!--  <div class="col-6">-->
<!--    <h5 class="title-franchise">Категории готового бизнеса</h5>-->
<!--    <div class="row">-->
<!--      &lt;!&ndash; 1 столбец. &ndash;&gt;-->
<!--      <div class="col-6">-->
<!--        &lt;!&ndash; <div class="category-block-first"> &ndash;&gt;-->
<!--        <div>-->
<!--          <div class="category-item" *ngFor="let item of categoryList1">-->
<!--            <img class="space-right-image-category" [src]="item.url"/>-->
<!--            <span class="category-text">{{ item.name }}</span>-->
<!--            <img-->
<!--              class="space-right-image-category space-arrow-category"-->
<!--              src="../../../../assets/images/Arrow%201.png"-->
<!--            />-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; 2 столбец &ndash;&gt;-->
<!--      <div class="col-6">-->
<!--        &lt;!&ndash; <div class="garant">&nbsp;</div> &ndash;&gt;-->
<!--        <div class="category-item" *ngFor="let item of categoryList2">-->
<!--          <img class="space-right-image-category" [src]="item.url"/>-->
<!--          <span class="category-text">{{ item.name }}</span>-->
<!--          <img-->
<!--            class="space-right-image-category space-arrow-category"-->
<!--            src="../../../../assets/images/Arrow%201.png"-->
<!--          />-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-6">-->
<!--    <h5 class="title-franchise">Категории франшиз</h5>-->
<!--    <div class="row">-->
<!--      &lt;!&ndash; 3 столбец. &ndash;&gt;-->
<!--      <div class="col-6">-->
<!--        &lt;!&ndash; <div class="category-block-second"> &ndash;&gt;-->
<!--        <div>-->
<!--          <div class="category-item" *ngFor="let item of categoryList3">-->
<!--            <img class="space-right-image-category" [src]="item.url"/>-->
<!--            <span class="category-text">{{ item.name }}</span>-->
<!--            <img-->
<!--              class="space-right-image-category space-arrow-category"-->
<!--              src="../../../../assets/images/Arrow%201.png"-->
<!--            />-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; 4 столбец &ndash;&gt;-->
<!--      <div class="col-6">-->
<!--        &lt;!&ndash; <div class="garant">&nbsp;</div> &ndash;&gt;-->
<!--        <div class="category-item" *ngFor="let item of categoryList4">-->
<!--          <img class="space-right-image-category" [src]="item.url"/>-->
<!--          <span class="category-text">{{ item.name }}</span>-->
<!--          <img-->
<!--            class="space-right-image-category space-arrow-category"-->
<!--            src="../../../../assets/images/Arrow%201.png"-->
<!--          />-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; </div> &ndash;&gt;-->
