<app-landing-header-card [cardData]="headerCardsData" (cardEvent)="landingHeaderCard($event)"
                         [franchiseFlagClass]="true"></app-landing-header-card>

<app-landing-statistics-card [allCardStatisticData]="allCardStatisticData"></app-landing-statistics-card>

<app-promo-block-card></app-promo-block-card>

<app-landing-consultation-card [cardConsultationData]="consultationCardsData"
                               [backgroundColorVariant]="backgroundColorVariant.black"
                               (cardConsultationEvent)="landingConsultationCard($event)"
                               [franchiseFlagClass1]="true"></app-landing-consultation-card>

<app-landing-four-steps-card [allCardsFourStepsData]="allCardsFourStepsData"
                             [landingFourStepsDataHeader]="landingFourStepsDataHeader"></app-landing-four-steps-card>

<app-landing-selection-card [allSelectedCardData]="allSelectedCardData"></app-landing-selection-card>

<app-landing-promo-card [cardData]="promoCardData"></app-landing-promo-card>

<app-landing-packs-card [allCardsPacksData]="allCardsPacksData"
                        [landingPacksDataHeader]="landingPacksDataHeader"
                        [backgroundColorVariant]="backgroundColorVariant.black"></app-landing-packs-card>

<app-landing-consultation-card [cardConsultationData]="consultationCardsData2"
                               [backgroundColorVariant]="backgroundColorVariant.black"
                               (cardConsultationEvent)="landingConsultationCard($event)"
                               [franchiseFlagClass2]="true"></app-landing-consultation-card>
