<div class="header">
  <div class="header__top-section">
    <p-menubar class="header__top-section__menu" styleClass="header__top-section__menu" [model]="mainNavigationItems">
      <ng-template pTemplate="start">
        <div class="header__top-section__logo">
          <svg-icon src="assets/images/logo-garant.svg" (click)="moveToMainPage()"></svg-icon>
        </div>
      </ng-template>
    </p-menubar>
  </div>

  <div class="header__middle-section">
    <p-tabMenu class="header__middle-section__menu" styleClass="header__middle-section__menu" [model]="subNavigationItems"></p-tabMenu>
  </div>
</div>
