@import 'src/assets/styles/design/design';

.header {
  margin-bottom: 2rem;

  &__top-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    &__menu {
      width: 100%;

      .p-menubar-start {
        width: 100%;
      }

      .p-menubar {
        background: transparent;
        border: none;

        .p-menuitem-link {
          @media screen and (min-width: 960px) {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            width: fit-content;
            .p-menuitem-icon {
              font-size: 25px;
              margin: 0 0 9px 0;
            }
            .p-menuitem-text {
              white-space: nowrap;
            }
          }
        }

        .item-in-row {
          .p-menuitem-link {
            display: flex;
            flex-direction: row !important;

            .p-menuitem-icon {
              margin: 0;
            }

            .country-flag {
              margin-right: .5rem;
            }
          }
        }
      }
    }

    &__logo {
      margin-right: 2rem;

      &:hover {
        cursor: pointer;
      }
    }

    &__search {
      margin-right: 1rem;
    }
  }

  &__middle-section {
    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
      .p-menuitem-icon {
        margin-right: 0.5rem;
        font-size: 30px;
        border: 1.5px solid #DADADA;
        padding: 10px;
        border-radius: 10px;
      }

      .p-menuitem-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #2C2C2C;
      }
    }
  }

}
