<div class="statistics unselectable" *ngIf="dataIsSets">
  <p-card styleClass="primeContainer" *ngFor="let cardStatisticData of allCardStatisticData">
    <p class="statistics-item__number">{{cardStatisticData.item_number}}</p>
    <p class="statistics-item__text">{{cardStatisticData.item_text}}</p>
  </p-card>
</div>

<!--    <p class="statistics-item__text">-->
<!--      сделок в среднем <br />-->
<!--      проходит <br />-->
<!--      через сервис гарант-->
<!--    </p>-->

<!--  <div class="statistics-item">-->
<!--    <p class="statistics-item__number">35</p>-->
<!--    <p class="statistics-item__text">-->
<!--      франшиз <br />-->
<!--      были проданы <br />-->
<!--      через сервис гарант-->
<!--    </p>-->
<!--  </div>-->
<!--  <div class="statistics-item">-->
<!--    <p class="statistics-item__number">105</p>-->
<!--    <p class="statistics-item__text">-->
<!--      бизнесов уже были <br />-->
<!--      проданы через <br />-->
<!--      сервис гарант-->
<!--    </p>-->
<!--  </div>-->
<!--  <div class="statistics-item">-->
<!--    <p class="statistics-item__number">0,5-3%</p>-->
<!--    <p class="statistics-item__text">-->
<!--      комиссия <br />-->
<!--      за использование <br />-->
<!--      сервиса покупки онлайн-->
<!--    </p>-->
<!--  </div>-->

