<div class="app-landing-consultation-card unselectable">
  <div class="consulting" *ngIf="cardConsultationData">

    <div class="consulting-content" [formGroup]="phoneForm">
      <!--    <div class="consulting-content__title">Консультация</div>-->
      <div class="consulting-content__title">{{cardConsultationData.title}} </div>
      <!--    <div class="consulting-content__subtitle">при покупке бизнеса онлайн</div>-->
      <div
        [ngClass]="{dealConsultingContentSubtitle:dealFlagClass, consultingContentSubtitle:consultingFlagClass,franchiseConsultingContentSubtitle:franchiseFlagClass1||franchiseFlagClass2}"
        class="consulting-content__subtitle">{{cardConsultationData.subtitle}}</div>
      <div
        [ngClass]="{dealConsultingContentText:dealFlagClass, consultingContentText:consultingFlagClass,franchiseConsultingContentText:franchiseFlagClass1||franchiseFlagClass2}"

      >
        <!--  class="consulting-content__text"    с юристом и консультантами сервиса-->
        {{cardConsultationData.content_text}}
      </div>

      <div
        [ngClass]="{dealConsultingContentText:dealFlagClass, consultingContentText:consultingFlagClass,franchiseConsultingContentText:franchiseFlagClass1||franchiseFlagClass2}"

      >
        <!--  class="consulting-content__text"    с юристом и консультантами сервиса-->
        {{cardConsultationData.content_text2}}
      </div>

      <div class="consulting-content__inputs">
        <label class="consulting-content__label">
          <!--        Имя-->
          {{cardConsultationData.content__label1}}

          <!--          placeholder="Введите имя"-->
          <input class="consulting-content__input" type="text" formControlName="name"
                 placeholder="{{cardConsultationData.content__placeholder1}}"/>
        </label>

        <div>
          <!--        <label class="consulting-content__label">Номер телефона</label>-->
          <label class="consulting-content__label">{{cardConsultationData.content__label2}}</label>

          <ngx-intl-tel-input
            class="input-tel-styles"
            [cssClass]="'input-tel-styles--main-field'"
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.Belarus"
            [maxLength]="15"
            [phoneValidation]="true"
            [separateDialCode]="separateDialCode"
            [numberFormat]="PhoneNumberFormat.National"
            formControlName="phone"
          ></ngx-intl-tel-input>

        </div>
      </div>

      <button pButton type="button" class="consulting-content__button border-solid border-blue-500"
              (click)="action($event)"
              [label]="cardConsultationData.content__button">
        <!--      Обратиться за консультацией-->
      </button>

      <button pButton type="button" class="consulting-content__button2 border-solid border-blue-500"
              (click)="action($event)"
              [label]="cardConsultationData.content__button2 || '' " >
        <!--      Обратиться за консультацией-->
      </button>
<!--      <button pButton class="consulting-content__button" (click)="actionChangeColor()"-->
<!--              label="Смена цвета">-->
<!--      </button>-->

<!--      <button pButton class="consulting-content__button" (click)="actionChangeColor2()"-->
<!--              label="Смена цвета ФУКСИЯ">-->
<!--      </button>-->

    </div>
    <div class="consulting-image">
      <!--      src="../../../../assets/images/deal-landing/template_person6%201.png"-->
      <!--      alt="Фото консультанта"-->
      <p-image src="{{cardConsultationData.image}}"
               alt="{{cardConsultationData.alt}}"
               *ngIf="consultingFlagClass"
               imageClass="consultingImageClass"
      ></p-image>

      <p-image src="{{cardConsultationData.image}}"
               alt="{{cardConsultationData.alt}}"
               *ngIf="dealFlagClass"
               imageClass="dealConsultingImageClass"
      ></p-image>

      <p-image src="{{cardConsultationData.image}}"
               alt="{{cardConsultationData.alt}}"
               *ngIf="franchiseFlagClass1"
               imageClass="franchiseConsultingImageClass1"
      ></p-image>

      <p-image src="{{cardConsultationData.image}}"
               alt="{{cardConsultationData.alt}}"
               *ngIf="franchiseFlagClass2"
               imageClass="franchiseConsultingImageClass2"
      ></p-image>

    </div>
  </div>
</div>
