<div class="garant-carusel">
  <p-carousel [value]="cardsData">
    <ng-template let-card pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="p-mb-3"></div>
          <div>
            <h4> {{ card.id }}</h4>
            <h4 class="p-mb-1">{{ card.name }}</h4>
            <h4 class="p-mb-1"> {{ card.description }} </h4>
            <h6 class="p-mt-0 p-mb-3"> ${{ card.price }} </h6>
            <div class="car-buttons p-mt-3">
              <p-button type="button" (click)="testAction(card)" styleClass="p-button p-button-rounded p-mr-2"
                        icon="pi pi-search"></p-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

