<div class="garant-carusel">
  <p-carousel [showIndicators]="false" [value]="cardsData" [numVisible]="numVisible" [responsiveOptions]="responsiveOptions">
    <ng-template let-card pTemplate="item">
      <div class="item">
        <div class="item-content">
          <img [src]="card.img"
               class="img"
               (click)="testAction(card)"
               [alt]="card.description">
          <div>

            <!--            <h4> {{ card.id }}</h4>-->
            <div class="item-content-wrapper">
              <div class="title-block">
                <h4 class="name">{{ card.name }}</h4>
                <span class="icon">
                  <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.11108L8 8.11108L1 15.1111" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round"/>
                  </svg>
                </span>
              </div>
              <h4 class="description"> {{ card.description }}
                <span>{{ card.time }} </span></h4>
              <h6 [ngClass]="{topMain:topMain, main:main}">
                <ng-template [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{value:card}"></ng-template>
                {{ card.price }}
              </h6>


            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

