<div class="app-landing-promo-card">
  <section class="promo" *ngIf="cardData">

    <div class="promo-item">
      <div class="promo-item_title">{{cardData.title}}</div>
      <div class="promo-item_subtitle">{{cardData.subtitle}}</div>

      <div class="promo-item_image">
        <p-image src="{{cardData.image}}"
                 alt="{{cardData.alt}}"
                 imageClass="imageClose"></p-image>
      </div>

      <button pButton type="button"
              class="promo-item_row__button_accept  border-solid border-blue-500"
              label="{{cardData.button_accept}}"></button>

      <button pButton type="button"
              class="promo-item_row__button_later  border-solid border-blue-500"
              label="{{cardData.button_later}}"></button>
    </div>

  </section>
</div>
