<p-toast [style]="{ marginTop: '80px' }"></p-toast>
<main class="app-container">
  <app-header class="{{ isGarant ? 'garant-header' : '' }}"></app-header>
  <ng-http-loader
    [backdrop]="true"
    [backgroundColor]="'blue'"
    [debounceDelay]="100"
    [extraDuration]="300"
    [minDuration]="300"
    [spinner]="spinnerStyle.skSpinnerPulse">
  </ng-http-loader>

  <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 225px)'}">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </p-scrollPanel>
</main>
