@import '../../../../assets/styles/design/design';

@import "../../../../assets/styles/media-quaries";

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                         not supported by any browser */
}

.app-landing-header-card {
  .header {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas: "header-image2"
                        "header-content";
    border-radius: 24px;
    padding: 24px 0 55px 0;
    background-color: #f5f8fa;
    margin-top: 80px;
    margin-bottom: 16px;
    box-sizing: content-box;
    overflow: hidden;


    @include tablet-small {
      grid-template-areas: "header-content header-image";
      padding: 39px 0 32px 29px;
    }

    @include tablet {
      padding: 49px 44px 100px 44px;
      gap: 200px;
    }

    @include desktop {
      padding: 89px 22px 45px 58px;
      gap: 350px;
    }

    @include wideScreens {
      padding: 89px 22px 45px 8px;
      gap: 34px;
    }

    &-content {
      grid-area: header-content;
      width: 273px;
      height: 230px;
      margin: -7px auto 0;
      //outline: 1px solid red;

      @include tablet-small {
        width: 423px;
        height: 368px;
        margin-bottom: 0;
      }

      @include desktop {
        width: 635px;
        height: 424px;
      }

      @include wideScreens {
        width: 951px;
        height: 369px;
      }

      &__title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: #2c2c2c;
        margin-bottom: 8px;


        text-align: center;
        width: 273px;
        font-size: 2rem;
        line-height: 38px;

        @include tablet-small {
          text-align: start;
          width: 470px;
          font-size: 4rem;
          line-height: 75px;
        }

        @include desktop {
          width: 790px;
          font-size: 6rem;
          line-height: 75px;
          text-align: start;
        }

        @include wideScreens {
          width: 790px;
        }
      }

      &__subtitle {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: #2c2c2c;

        text-align: center;
        font-size: 1.5rem;
        line-height: 28px;
        //outline: 1px solid greenyellow;
        margin: 0 auto 16px;
        width: 242px;

        @include tablet-small {
          width: auto;
          font-size: 2.75rem;
          line-height: 52px;
          text-align: start;
        }

        @include desktop {
          padding-top: 20px;
          font-size: 4rem;
          line-height: 75px;
        }
      }

      &__text {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #7a7a7a;
        width: 228px;
        margin: 0 auto 24px;
        //outline: 1px solid red;
        text-align: center;
        font-size: 1.0625rem;
        line-height: 20px;

        @include tablet-small {
          width: 310px;
          font-size: 1.5rem;
          line-height: 28px;
          margin: 17px 0 33px 0;
          text-align: start;
        }

        @include tablet {
          margin-bottom: 87px;
          width: 323px;
          text-align: start;
        }

        @include desktop {
          min-width: 635px;
          text-align: start;
          margin-bottom: 33px;
        }

        @include wideScreens {
          margin-bottom: 52px;
        }
      }

      &__button {
        display: none;

        @include tablet-small {

          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Roboto", sans-serif;
          font-size: 1.5rem;
          font-weight: 500;
          color: #ffffff;
          line-height: 28px;
          width: 341px;
          height: 76px;
          border: none;
          border-radius: 4px;
          padding: 24px 32px;
          margin: 0;
          background-color: #1f75fe;
        }
      }

      &__button2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        color: #ffffff;
        line-height: 28px;
        width: 272px;
        height: 76px;
        border: none;
        border-radius: 4px;
        padding: 24px 26.5px;
        margin: 0;
        background-color: #1f75fe;


        @include tablet-small {
          display: none;
        }
      }
    }

    &-image {
      grid-area: header-image;
      display: none;
      margin-right: 8px;
      position: relative;
      width: 305px;

      .imageClass { // для стилизации p-image из primeng
        position: absolute;
        width: 324px;
        top: 28px;
        left: 10px;
        //outline: 1px solid red;

        @include tablet-small {
          width: 324px;
          top: 28px;
          left: 10px;
        }

        @include tablet {
          width: 398px;
          top: 2px;
          left: -93px;
        }
        @include desktop {
          width: 398px;
          top: -13px;
          left: -93px;
        }

        @include wideScreens {
          width: 365px; // - оплтимально для http://localhost:4200/deal/start и 4200/consulting/start для wideScreens
          //width: 660px; // ??? - оплтимально для http://localhost:4200/franchise/start для wideScreens
          top: -25px;
          left: -41px;
        }

      }

      @include tablet-small {
        display: flex;
        //gap: calc((#{$gridGap} / 3) * 2) 0;
      }
    }

    &-image2 {
      grid-area: header-image2;
      margin: 0 auto 17px;

      @include tablet-small {
        display: none;
      }
    }
  }
}
