<p-toast [style]="{ marginTop: '80px' }"></p-toast>

<app-landing-header-card [cardData]="headerCardsData" (cardEvent)="landingHeaderCard($event)"
                         [consultingFlagClass]="true"></app-landing-header-card>

<app-landing-statistics-card [allCardStatisticData]="allCardStatisticData"></app-landing-statistics-card>

<app-landing-four-steps-card [allCardsFourStepsData]="allCardsFourStepsData"
                             [landingFourStepsDataHeader]="landingFourStepsDataHeader"></app-landing-four-steps-card>

<app-landing-packs-card [allCardsPacksData]="allCardsPacksData"
                        [landingPacksDataHeader]="landingPacksDataHeader"
                        [backgroundColorVariant]="backgroundColorVariant.black"></app-landing-packs-card>

<app-landing-consultation-card [cardConsultationData]="consultationCardsData"
                               (cardConsultationEvent)="landingConsultationCard($event)"
                               [consultingFlagClass]="true"></app-landing-consultation-card>

<app-landing-promo-card [cardData]="promoCardData"></app-landing-promo-card>
