<!--<div class="header">-->
<!--  <div class="header-content">-->
<!--    <div class="header-content__title">Онлайн сделка</div>-->
<!--    <div class="header-content__subtitle">по покупке бизнеса</div>-->
<!--    <div class="header-content__text">или франшизы</div>-->
<!--    <button class="header-content__button">Как начать сделку?</button>-->
<!--  </div>-->
<!--  <div class="header-image">-->
<!--    <img-->
<!--      src="../../../../assets/images/deal-landing/shield.png"-->
<!--      alt="Изображение щита"-->
<!--    />-->
<!--  </div>-->
<!--</div>-->

<app-landing-header-card [cardData]="headerCardsData" (cardEvent)="landingHeaderCard($event)"></app-landing-header-card>
<!--начало комментирования-->
<!--<app-landing-statistics-card [allCardStatisticData]="allCardStatisticData"></app-landing-statistics-card>-->

<!--&lt;!&ndash;<div class="statistics">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="statistics-item">&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="statistics-item__number">10</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="statistics-item__text">&ndash;&gt;-->
<!--&lt;!&ndash;      сделок в среднем <br />&ndash;&gt;-->
<!--&lt;!&ndash;      проходит <br />&ndash;&gt;-->
<!--&lt;!&ndash;      через сервис гарант&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="statistics-item">&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="statistics-item__number">35</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="statistics-item__text">&ndash;&gt;-->
<!--&lt;!&ndash;      франшиз <br />&ndash;&gt;-->
<!--&lt;!&ndash;      были проданы <br />&ndash;&gt;-->
<!--&lt;!&ndash;      через сервис гарант&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="statistics-item">&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="statistics-item__number">105</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="statistics-item__text">&ndash;&gt;-->
<!--&lt;!&ndash;      бизнесов уже были <br />&ndash;&gt;-->
<!--&lt;!&ndash;      проданы через <br />&ndash;&gt;-->
<!--&lt;!&ndash;      сервис гарант&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="statistics-item">&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="statistics-item__number">0,5-3%</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="statistics-item__text">&ndash;&gt;-->
<!--&lt;!&ndash;      комиссия <br />&ndash;&gt;-->
<!--&lt;!&ndash;      за использование <br />&ndash;&gt;-->
<!--&lt;!&ndash;      сервиса покупки онлайн&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<app-landing-consultation-card [cardConsultationData]="consultationCardsData"-->
<!--                               [backgroundColorVariant]="backgroundColorVariant.blue"-->
<!--                               (cardConsultationEvent)="landingConsultationCard($event)"></app-landing-consultation-card>-->

<!--&lt;!&ndash;<div class="consulting">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="consulting-content">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="consulting-content__title">Консультация</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="consulting-content__subtitle">при покупке бизнеса онлайн</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="consulting-content__text">&ndash;&gt;-->
<!--&lt;!&ndash;      с юристом и консультантами сервиса&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="consulting-content__inputs">&ndash;&gt;-->
<!--&lt;!&ndash;      <label class="consulting-content__label"&ndash;&gt;-->
<!--&lt;!&ndash;        >Имя&ndash;&gt;-->
<!--&lt;!&ndash;        <input&ndash;&gt;-->
<!--&lt;!&ndash;          class="consulting-content__input"&ndash;&gt;-->
<!--&lt;!&ndash;          type="text"&ndash;&gt;-->
<!--&lt;!&ndash;          name="name"&ndash;&gt;-->
<!--&lt;!&ndash;          placeholder="Введите имя"&ndash;&gt;-->
<!--&lt;!&ndash;          [(ngModel)]="name"&ndash;&gt;-->
<!--&lt;!&ndash;        />&ndash;&gt;-->
<!--&lt;!&ndash;      </label>&ndash;&gt;-->

<!--&lt;!&ndash;      <div>&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="consulting-content__label">Номер телефона</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <p-inputMask&ndash;&gt;-->
<!--&lt;!&ndash;          mask="+7(999) 999-99-99"&ndash;&gt;-->
<!--&lt;!&ndash;          [(ngModel)]="phoneNumber"&ndash;&gt;-->
<!--&lt;!&ndash;          placeholder="Введите номер телефона"&ndash;&gt;-->
<!--&lt;!&ndash;        ></p-inputMask>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <button&ndash;&gt;-->
<!--&lt;!&ndash;      class="consulting-content__button"&ndash;&gt;-->
<!--&lt;!&ndash;      (click)="onSendLandingRequestAsync(name, phoneNumber)"&ndash;&gt;-->
<!--&lt;!&ndash;    >&ndash;&gt;-->
<!--&lt;!&ndash;      Обратиться за консультацией&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="consulting-image">&ndash;&gt;-->
<!--&lt;!&ndash;    <img&ndash;&gt;-->
<!--&lt;!&ndash;      src="../../../../assets/images/deal-landing/template_person6%201.png"&ndash;&gt;-->
<!--&lt;!&ndash;      alt="Фото консультанта"&ndash;&gt;-->
<!--&lt;!&ndash;    />&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;начало комментирования&ndash;&gt;-->
<!--<h5 class="steps-header">4 простых шага для безопасной сделки онлайн</h5>-->
<!--<div class="steps">-->
<!--  <div class="steps-item">-->
<!--    <div class="steps-item__image">-->
<!--      <img-->
<!--        src="../../../../assets/images/deal-landing/loupe-clip-art-6%201.png"-->
<!--        alt="Лупа"-->
<!--      />-->
<!--    </div>-->
<!--    <p class="steps-item__title">Выбрать бизнес</p>-->
<!--    <p class="steps-item__subtitle">или франшизу</p>-->
<!--    <p class="steps-item__stage">Шаг 1</p>-->
<!--    <p class="steps-item__text">-->
<!--      Воспользуйтесь каталогом для удобного и быстрого поиска по вашим-->
<!--      параметрам.-->
<!--    </p>-->
<!--    <button class="steps-item__button">Начать поиск</button>-->
<!--  </div>-->
<!--  <div class="steps-item">-->
<!--    <div class="steps-item__image">-->
<!--      <img-->
<!--        src="../../../../assets/images/deal-landing/pen-clip-art-6%202.png"-->
<!--        alt="Ручка"-->
<!--      />-->
<!--    </div>-->
<!--    <p class="steps-item__title">Пройти регистрацию</p>-->
<!--    <p class="steps-item__subtitle">на нашем портале</p>-->
<!--    <p class="steps-item__stage">Шаг 2</p>-->
<!--    <p class="steps-item__text">-->
<!--      Вы можете пройти быструю регистрацию до начала выбора бизнеса или во-->
<!--      время.-->
<!--    </p>-->
<!--    <button class="steps-item__button">Пройти регистрацию</button>-->
<!--  </div>-->
<!--  <div class="steps-item">-->
<!--    <div class="steps-item__image">-->
<!--      <img-->
<!--        src="../../../../assets/images/deal-landing/file-clip-art-6%203.png"-->
<!--        alt="Папка"-->
<!--      />-->
<!--    </div>-->
<!--    <p class="steps-item__title">Начать сделку</p>-->
<!--    <p class="steps-item__subtitle">и распланировать этапы сделки</p>-->
<!--    <p class="steps-item__stage">Шаг 3</p>-->
<!--    <p class="steps-item__text">-->
<!--      Вы сможете распланировать онлайн сделку посредством сервиса гарант.-->
<!--    </p>-->
<!--    <button class="steps-item__button">Начать сделку</button>-->
<!--  </div>-->
<!--  <div class="steps-item">-->
<!--    <div class="steps-item__image">-->
<!--      <img-->
<!--        src="../../../../assets/images/deal-landing/credit_card_PNG24%201.png"-->
<!--        alt="Кредитная карточка"-->
<!--      />-->
<!--    </div>-->
<!--    <p class="steps-item__title">Провести оплату</p>-->
<!--    <p class="steps-item__subtitle">по каждому этапу</p>-->
<!--    <p class="steps-item__stage">Шаг 4</p>-->
<!--    <p class="steps-item__text">-->
<!--      После оплаты каждого этапа вы становитесь полноправным владельцем бизнеса-->
<!--    </p>-->
<!--    <button class="steps-item__button">Получить консультацию</button>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; <div class="row"> &ndash;&gt;-->

<!--<section class="section">-->
<!--  <div class="gar-card promo">-->
<!--    <div class="gar-row title item">-->
<!--      Вы можете приобрести бизнес с гарантиями-->
<!--    </div>-->
<!--    <div class="gar-row secondary">-->
<!--      Вам больше не нужно покупать бизнес онлайн! Все тренды сводятся к покупке-->
<!--      бизнеса и управлению им из дома. Предлагаем получить консультацию по-->
<!--      покупке бизнеса онлайн.-->
<!--    </div>-->
<!--    <div class="gar-row">-->
<!--      <gar-button role="primary">Получить консультацию</gar-button>-->
<!--      <gar-button role="secondary">Позднее</gar-button>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--&lt;!&ndash; Область с 3 карточками. &ndash;&gt;-->

<!--&lt;!&ndash; Популярный бизнес. &ndash;&gt;-->




<!--&lt;!&ndash; Новый бизнес. &ndash;&gt;-->
<!--<div class="garant">-->
<!--  <p-carousel-->
<!--    [value]="aNewFranchises"-->
<!--    [numVisible]="4"-->
<!--    [numScroll]="4"-->
<!--    [circular]="false"-->
<!--    [responsiveOptions]="responsiveOptions"-->
<!--    [showNavigators]="false"-->
<!--  >-->
<!--    <ng-template pTemplate="header">-->
<!--      <h5 class="title-franchise">Новыe объявления готового бизнеса</h5>-->
<!--    </ng-template>-->
<!--    <ng-template let-item pTemplate="item">-->
<!--      <div class="product-item">-->
<!--        <div class="product-item-content">-->
<!--          <div class="p-mb-3">-->
<!--            <img [src]="item.url" class="product-image" />-->
<!--          </div>-->
<!--          <div>-->
<!--            <p-card-->
<!--              header="Название готового бизнеса"-->
<!--              subheader="{{ item.fullText }}"-->
<!--              [style]="{ width: '100%' }"-->
<!--              styleClass="p-card-shadow"-->
<!--            >-->
<!--              <ng-template pTemplate="header">-->
<!--                &lt;!&ndash; <img alt="Card" src="assets/showcase/images/usercard.png"> &ndash;&gt;-->
<!--              </ng-template>-->
<!--              <strong>{{ item.textDoPrice }} {{ item.price }} ₽</strong>-->
<!--              <ng-template pTemplate="footer">-->
<!--                &lt;!&ndash; <p-button label="Save" icon="pi pi-check"></p-button>-->
<!--                          <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> &ndash;&gt;-->
<!--              </ng-template>-->
<!--            </p-card>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </p-carousel>-->
<!--</div>-->

<!--&lt;!&ndash; Бизнес блог. &ndash;&gt;-->
<!--<h5 class="garant title-franchise">Бизнес блог</h5>-->
<!--<div class="d-flex popular-list-blog">-->
<!--  <div class="popular-item-blog" *ngFor="let item of aBlogs">-->
<!--    <p-card-->
<!--      class="popular-item-blog-wrapper1"-->
<!--      header="{{ item.title }}"-->
<!--      subheader=""-->
<!--      [style]="{ width: '100%' }"-->
<!--      styleClass="p-card-shadow"-->
<!--    >-->
<!--      <ng-template pTemplate="header">-->
<!--        <img [src]="item.url" />-->
<!--      </ng-template>-->

<!--      <ng-template pTemplate="footer"> </ng-template>-->
<!--    </p-card>-->
<!--  </div>-->

<!--  <div class="popular-item-blog">-->
<!--    <p-card-->
<!--      class="popular-item-blog-wrapper2"-->
<!--      header="Больше статей"-->
<!--      subheader=""-->
<!--      [style]="{ width: '100%' }"-->
<!--      styleClass="p-card-shadow"-->
<!--    >-->
<!--      <ng-template pTemplate="header"> </ng-template>-->

<!--      <div class="d-flex">-->
<!--        <p>-->
<!--          Перейдите в наш блог и найдите <br />-->
<!--          там массу полезной информации.-->
<!--        </p>-->
<!--        <div class="image">-->
<!--          <img src="../../../../assets/images/Frame%2066.png" height="32" />-->
<!--        </div>-->
<!--      </div>-->
<!--      <ng-template pTemplate="footer"> </ng-template>-->
<!--    </p-card>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Новости делового мира. &ndash;&gt;-->
<!--<section class="section">-->
<!--  <app-news-block></app-news-block>-->
<!--</section>-->

<!--&lt;!&ndash; Категории готового бизнеса. &ndash;&gt;-->
<!--<div class="row garant">-->
<!--  <div class="col-6">-->
<!--    <h5 class="title-franchise">Категории готового бизнеса</h5>-->
<!--    <div class="row">-->
<!--      &lt;!&ndash; 1 столбец. &ndash;&gt;-->
<!--      <div class="col-6">-->
<!--        <div>-->
<!--          <div class="category-item" *ngFor="let item of categoryList1">-->
<!--            <img class="space-right-image-category" [src]="item.url" />-->
<!--            <span class="category-text">{{ item.name }}</span>-->
<!--            <img-->
<!--              class="space-right-image-category space-arrow-category"-->
<!--              src="../../../../assets/images/Arrow%201.png"-->
<!--            />-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; 2 столбец &ndash;&gt;-->
<!--      <div class="col-6">-->
<!--        <div class="category-item" *ngFor="let item of categoryList2">-->
<!--          <img class="space-right-image-category" [src]="item.url" />-->
<!--          <span class="category-text">{{ item.name }}</span>-->
<!--          <img-->
<!--            class="space-right-image-category space-arrow-category"-->
<!--            src="../../../../assets/images/Arrow%201.png"-->
<!--          />-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-6">-->
<!--    <h5 class="title-franchise">Категории франшиз</h5>-->
<!--    <div class="row">-->
<!--      &lt;!&ndash; 3 столбец. &ndash;&gt;-->
<!--      <div class="col-6">-->
<!--        <div>-->
<!--          <div class="category-item" *ngFor="let item of categoryList3">-->
<!--            <img class="space-right-image-category" [src]="item.url" />-->
<!--            <span class="category-text">{{ item.name }}</span>-->
<!--            <img-->
<!--              class="space-right-image-category space-arrow-category"-->
<!--              src="../../../../assets/images/Arrow%201.png"-->
<!--            />-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; 4 столбец &ndash;&gt;-->
<!--      <div class="col-6">-->
<!--        <div class="category-item" *ngFor="let item of categoryList4">-->
<!--          <img class="space-right-image-category" [src]="item.url" />-->
<!--          <span class="category-text">{{ item.name }}</span>-->
<!--          <img-->
<!--            class="space-right-image-category space-arrow-category"-->
<!--            src="../../../../assets/images/Arrow%201.png"-->
<!--          />-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
