<app-landing-header-card [cardData]="headerCardsData" (cardEvent)="landingHeaderCard($event)"
                         [dealFlagClass]="true"></app-landing-header-card>

<app-landing-statistics-card [allCardStatisticData]="allCardStatisticData"></app-landing-statistics-card>

<app-landing-consultation-card [cardConsultationData]="consultationCardsData"
                               (cardConsultationEvent)="landingConsultationCard($event)"
                               [dealFlagClass]="true"></app-landing-consultation-card>

<app-landing-four-steps-card [allCardsFourStepsData]="allCardsFourStepsData"
                             [landingFourStepsDataHeader]="landingFourStepsDataHeader"></app-landing-four-steps-card>

<app-landing-selection-card [allSelectedCardData]="allSelectedCardData"></app-landing-selection-card>
