@import 'src/assets/styles/design/design';

.profile-back {
  @include inputReset;

  height: auto;
  padding: 0;
  margin-bottom: $gridGap / 2;

  @include tablet {
    display: none;
  }

  gar-icon {
    width: 36px;
    height: 30px;
    fill: $clrBlue;
  }
}

.profile {
  //transition: transform $timeDefault;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  &--column{
    flex-direction: column;
  }
  &__sidebar {
    display: flex;
    flex: 1;
    //width: fit-content;
    flex-direction: column;
    &__static{
      width: 400px;
      padding: 16px;
      &--full-width{
        width: 100%;
        padding: 0;
      }
      &__main-info{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 15px;
        &__avatar{
          margin-right: 15px;
          &--avatar{
            border-radius: 50%;
            width: 150px;
            height: 150px;
          }
          .p-image-preview-indicator{
            border-radius: 50%;
            height: 150px;
          }
        }
        &__data{
          width: 100%;
        }
      }
      &__secondary-info{
        margin-bottom: 15px;
      }
    }
    &__actions{

    }
  }

  &__main {
    display: flex;
    flex: 3;
    //visibility: hidden;
    //
    //@include tablet {
    //  flex-shrink: 1;
    //}
  }

  //&.-active {
  //  transform: translate(calc(-100% - #{$gridGap}));
  //
  //  @include tablet {
  //      transform: none;
  //  }
  //
  //  .profile__sidebar {
  //    visibility: hidden;
  //
  //    @include tablet {
  //      visibility: visible;
  //    }
  //  }
  //
  //  .profile__main {
  //    visibility: visible;
  //  }
  //}
}

//.profile-main {
//  background-color: $clrWhite;
//  border-radius: $border-radius;
//  padding: $gridGap / 3 * 2;
//  box-shadow: $box-shadow-card;
//
//  &__title {
//    @include typo('regular');
//
//    margin-bottom: $gridGap / 2;
//  }
//
//  &__section {
//    margin-bottom: $gridGap / 3 * 4;
//
//    &-cell {
//      label {
//        @include typo('description');
//
//        color: $clrDarkGray;
//        margin-bottom: $gridGap / 3;
//      }
//    }
//  }
//}


