<p-toast [style]="{ marginTop: '80px' }"></p-toast>

<section class="profile" [ngClass]="{'profile--column': eventDataService.gradeState !== gradeState.DESKTOP}">
  <aside class="profile__sidebar">
<!--    <app-manage-account (menuClick)="onMenuClick()"></app-manage-account>-->

    <div class="profile__sidebar__static" [ngClass]="{'profile__sidebar__static--full-width': eventDataService.gradeState !== gradeState.DESKTOP}">

      <p-accordion *ngIf="eventDataService.gradeState !== gradeState.DESKTOP">
        <p-accordionTab header="Основная информация" [selected]="true">
          <ng-container [ngTemplateOutlet]="staticInfo"></ng-container>
        </p-accordionTab>
      </p-accordion>

      <ng-container *ngIf="eventDataService.gradeState === gradeState.DESKTOP" [ngTemplateOutlet]="staticInfo"></ng-container>
      <div class="profile__sidebar__static__secondary-info" *ngIf="eventDataService.gradeState === gradeState.DESKTOP">
        <ng-container [ngTemplateOutlet]="additionalInfo"></ng-container>
      </div>
    </div>

    <div class="profile__sidebar__actions">
      <p-panelMenu [model]="menuItems" [style]="{'width':'100%'}" *ngIf="eventDataService.gradeState === gradeState.DESKTOP"></p-panelMenu>
      <p-tabMenu [model]="menuItems" *ngIf="eventDataService.gradeState !== gradeState.DESKTOP"></p-tabMenu>
    </div>

  </aside>

  <div class="profile__main">
<!--    <button class="profile-back" (click)="removeShift()">-->
<!--      <gar-icon name="arrow-left-angle"></gar-icon>-->
<!--    </button>-->
    <router-outlet></router-outlet>
  </div>
</section>

<ng-template #additionalInfo>
  <app-static-info title="Количество объявлений" [data]="1" [rowView]="eventDataService.gradeState !== gradeState.DESKTOP"></app-static-info>
  <app-static-info title="Количество сделок через гарант" [data]="1" [rowView]="eventDataService.gradeState !== gradeState.DESKTOP"></app-static-info>
  <app-static-info title="На сайте" [data]="'1 месяц'" [rowView]="eventDataService.gradeState !== gradeState.DESKTOP"></app-static-info>
</ng-template>


<ng-template #staticInfo>
  <div class="profile__sidebar__static__main-info">
    <div class="profile__sidebar__static__main-info__avatar" >
      <p-image imageClass="profile__sidebar__static__main-info__avatar--avatar"
               src="https://static.toiimg.com/photo/msid-5348868/5348868.jpg?26276"
               [preview]="true" alt="user-photo">
        <ng-template pTemplate="indicator"><i class="pi pi-eye"></i></ng-template>
      </p-image>
    </div>
    <div class="profile__sidebar__static__main-info__data">
      <app-static-info title="ФИО" [data]="'FirstName LastName'" [rowView]="eventDataService.gradeState !== gradeState.DESKTOP"></app-static-info>
      <app-static-info title="В качестве" [data]="'Продавца'" [rowView]="eventDataService.gradeState !== gradeState.DESKTOP"></app-static-info>
      <ng-container *ngIf="eventDataService.gradeState !== gradeState.DESKTOP">
        <ng-container [ngTemplateOutlet]="additionalInfo"></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>
