<p>test-ng-prime works!</p>


<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-900 font-bold text-6xl mb-4 text-center">Pricing Plans</div>
  <div class="text-700 text-xl mb-6 text-center line-height-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Velit numquam eligendi quos.
  </div>

  <div class="grid">
    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
          <div class="text-900 font-medium text-xl mb-2">Basic</div>
          <div class="text-600">Plan description</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">$9</span>
            <span class="ml-2 font-medium text-600">per month</span>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-red-500 mr-2"></i>
              <span class="text-900">Arcu vitae elementum</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Dui faucibus in ornare</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Morbi tincidunt augue</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto"/>
          <button pButton pRipple label="Buy Now" class="p-3 w-full mt-auto"></button>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
          <div class="text-900 font-medium text-xl mb-2">Premium</div>
          <div class="text-600">Plan description</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">$29</span>
            <span class="ml-2 font-medium text-600">per month</span>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Arcu vitae elementum</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Dui faucibus in ornare</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Morbi tincidunt augue</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Duis ultricies lacus sed</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border"/>
          <button pButton pRipple label="Buy Now" class="p-3 w-full"></button>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
          <div class="text-900 font-medium text-xl mb-2">Enterprise</div>
          <div class="text-600">Plan description</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">$49</span>
            <span class="ml-2 font-medium text-600">per month</span>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Arcu vitae elementum</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Dui faucibus in ornare</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Morbi tincidunt augue</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Duis ultricies lacus sed</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Imperdiet proin</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Nisi scelerisque</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border"/>
          <button pButton pRipple label="Buy Now" class="p-3 w-full p-button-outlined"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<h5>Templating</h5>
<p-cascadeSelect [(ngModel)]="selectedCity2" [options]="countries" optionLabel="cname" optionGroupLabel="name"
                 [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}"
                 placeholder="Select a City">
  <ng-template pTemplate="option" let-option>
    <div class="country-item">
      <!--      <img *ngIf="option.states" src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + option.code.toLowerCase()"/>-->
      <i class="pi pi-compass mr-2" *ngIf="option.cities"></i>
      <i class="pi pi-map-marker mr-2" *ngIf="option.cname"></i>
      <span>{{option.cname || option.name}}</span>
    </div>
  </ng-template>
</p-cascadeSelect>


<span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="value1">
            <label for="inputtext">InputText</label>
</span>
