.static-info{
  margin-bottom: 15px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  &-row{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: unset;
  }
  &--title{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #7A7A7A;
  }
  &--data{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2C2C2C;
    margin-top: 8px;
  }
}
