$fa-font-path: "~font-awesome/fonts";
//@import '~font-awesome/scss/font-awesome';

/* You can add global styles to this file, and also import other style files */
// общие стили

@use "sass:selector";

@mixin unify-parent($child) {
  @at-root #{selector.unify(&, $child)} {
    @content
  }
}

@mixin evens(){
  &:nth-child(even) {
    @content
  }
}

@mixin title($color) {
  #{if(&, '&.__title', '&.__title')} {
    background-color: $color;
  }
}

@import "assets/styles/input-tel-styles";
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

.app-container {
  //width: 80%;
  max-width: 1440px;
  margin: 0 auto !important;
  //
  //@media (max-width: 1440px) {
  //  width: 96%;
  //  //margin: 0 1.5rem !important;
  //  margin: 0 6rem !important;
  //}
  //
  //@media (max-width: 1080px) {
  //  width: calc(100% - 10rem);
  //  //margin: 0 5rem !important;
  //  margin: 0 auto !important;
  //}
  //
  //@media (max-width: 576px) {
  //  //width: calc(100% - 2.5rem);
  //  //margin: 0 1.25rem !important;
  //  width: 100%;
  //  margin: 0 auto !important;
  //}
}

img {
  pointer-events: none;
}

// общие стили


:root {
  --app-get-call-card: #1F75FE;
}
