<div class="app-landing-four-steps-card unselectable">
  <h5 class="steps-header" *ngIf="dataIsSets">{{landingFourStepsDataHeader}}</h5>
  <div class="steps">
    <div class="steps-item" *ngFor="let card_FourStepsData of allCardsFourStepsData">
      <div class="steps-item__image">
        <p-image
          src="{{card_FourStepsData.image}}"
          alt="{{card_FourStepsData.alt}}">
        </p-image>
      </div>
      <p class="steps-item__title">{{card_FourStepsData.title}}</p>
      <p class="steps-item__subtitle">{{card_FourStepsData.subtitle}}</p>
      <p class="steps-item__stage">{{card_FourStepsData.stage}}</p>
      <p class="steps-item__text">
        {{card_FourStepsData.item_text}}
      </p>
      <button pButton type="button" class="steps-item__button border-solid border-blue-500" [label]="card_FourStepsData.item__button"></button>
    </div>
  </div>
</div>




<!--<div class="app-landing-four-steps-card">-->
<!--  <h5 class="steps-header" *ngIf="dataIsSets">4 шага к безопасной сделке онлайн</h5>-->
<!--  <div class="steps">-->
<!--    <div class="steps-item">-->
<!--      <div class="steps-item__image">-->
<!--        <img-->
<!--          src="../../../../assets/images/consulting-landing/loupe-clip-art-6%201.png"-->
<!--          alt="Лупа"-->
<!--        />-->
<!--      </div>-->
<!--      <p class="steps-item__title">Проверка бизнеса</p>-->
<!--      <p class="steps-item__subtitle">или франшизы</p>-->
<!--      <p class="steps-item__stage">Шаг 1</p>-->
<!--      <p class="steps-item__text">-->
<!--        До приобретения бизнеса и начала сделки следует заказать полную проверку.-->
<!--      </p>-->
<!--      <button class="steps-item__button">Проверить бизнес</button>-->
<!--    </div>-->
<!--    <div class="steps-item">-->
<!--      <div class="steps-item__image">-->
<!--        <img-->
<!--          src="../../../../assets/images/consulting-landing/credit_card_PNG24%201.png"-->
<!--          alt="Кредитная карточка"-->
<!--        />-->
<!--      </div>-->
<!--      <p class="steps-item__title">Консультация</p>-->
<!--      <p class="steps-item__subtitle">на каждом этапе сделки</p>-->
<!--      <p class="steps-item__stage">Шаг 2</p>-->
<!--      <p class="steps-item__text">-->
<!--        После оплаты каждого этапа вы становитесь полноправным владельцем бизнеса-->
<!--      </p>-->
<!--      <button class="steps-item__button">Получить консультацию</button>-->
<!--    </div>-->
<!--    <div class="steps-item">-->
<!--      <div class="steps-item__image">-->
<!--        <img-->
<!--          src="../../../../assets/images/consulting-landing/pen-clip-art-6%202.png"-->
<!--          alt="Ручка"-->
<!--        />-->
<!--      </div>-->
<!--      <p class="steps-item__title">Составление договора</p>-->
<!--      <p class="steps-item__subtitle">в процессе сделки</p>-->
<!--      <p class="steps-item__stage">Шаг 3</p>-->
<!--      <p class="steps-item__text">-->
<!--        Вы можете заказать составление договора для сделки у юриста и всех актов.-->
<!--      </p>-->
<!--      <button class="steps-item__button">Заказать договор</button>-->
<!--    </div>-->
<!--    <div class="steps-item">-->
<!--      <div class="steps-item__image">-->
<!--        <img-->
<!--          src="../../../../assets/images/consulting-landing/file-clip-art-6%203.png"-->
<!--          alt="Папка"-->
<!--        />-->
<!--      </div>-->
<!--      <p class="steps-item__title">Согласование договора</p>-->
<!--      <p class="steps-item__subtitle">и корректировки</p>-->
<!--      <p class="steps-item__stage">Шаг 4</p>-->
<!--      <p class="steps-item__text">-->
<!--        В процессе сделки вы будете получать договор от продавца. Юрист проверит-->
<!--        его.-->
<!--      </p>-->
<!--      <button class="steps-item__button">Получить сопровождение</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
