@import "design/colors";

.input-tel-styles {
  &--main-field {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: $clrDarkGray;
    width: 291px;
    border: 1.5px solid $clrLightGray;
    border-radius: 8px;
    padding: 20px 48px;
  }

  .search-container input {
    height: 30px;
  }
}
