@import '../../../../assets/styles/design/design';
@import "../../../../assets/styles/media-quaries";

.selection-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
  @include tablet-small {
    gap: 16px;
  }
  @include tablet {
    gap: 21px;
    flex-wrap: nowrap;
  }
  @include desktop {
    gap: 24px;
  }

}

.selection-item {
  max-width: 320px;
  margin-bottom: 24px;
  @include tablet-small {
    max-width: 376px;
    &:nth-child(3) {
      max-width: 768px;
      max-height: 244px;
      margin-bottom: 32px;
    }
  }
  @include tablet {
    max-width: 328px;
    &:nth-child(3) {
      max-width: 328px;
      max-height: none;
    }
  }
  @include desktop {
    max-width: 448px;
    &:nth-child(3) {
      max-width: 448px;
    }
  }
  @include wideScreens {
    max-width: 464px;
    &:nth-child(3) {
      max-width: 464px;
    }
  }


  &__title {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #2C2C2C;
    margin-bottom: 16px;
    margin-top: 0;
    @include tablet-small {
      font-size: 19px;
      line-height: 22px;
    }
    @include desktop {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 32px;
    }
  }

  &__wrapper {
    border-radius: 8px;
    display: flex;
    gap: 5px;
    background: rgba(218, 218, 218, 0.15);
    padding: 16px 8px 8px;
    overflow: hidden;
    @include tablet-small {
      padding: 16px;
    }
    @include tablet {
      padding: 25px;
    }
    @include desktop {
      padding-right: 0;

    }


    .selection-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      max-width: 210px;
      @include tablet-small {
        min-height: 218px;
      }
      @include desktop {
        max-width: 280px;
      }

      &__subtitle {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        color: #2C2C2C;
        margin-bottom: 16px;
        margin-top: 0;
        @include desktop {
          font-size: 18px;
          line-height: 21px;
        }
      }

      &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #7A7A7A;
        margin-bottom: 24px;
        margin-top: 0;
      }

      &__button {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding: 16px;
        @include tablet-small {
          margin-top: auto;
        }
        @include desktop {
          font-size: 18px;
          line-height: 21px;
        }
      }

    }

    .selection-image {
      margin-top: 8px;
      @include desktop {
        position: relative;
        width: 144px;
      }
      @include wideScreens {
        width: 160px;
      }


    }

    .contentImg {
      @include tablet-small {
        display: none;
      }

      @include desktop {
        display: block;
        height: 195px;
        width: auto;
        position: absolute;
        top: 0;
        right:0;

      }
    }

  }


}
